<div class="song d-block">
  {{#if song.length}}
  {{#each song as |song|}}
  <a href=""><i class="fa-solid fa-music"></i> {{song.song_name}}</a><br>
  {{/each}}
  {{/if}}
</div>

<script src="./js/song.js"></script>